.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 5px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  outline: none;
  padding: 0.4rem 0.5rem;
  border: 1px solid #dddd;
  transition: 0.4s;
  border-radius: 5px;
}

.form-control input:hover,
.form-control select:hover {
  cursor: pointer;
  border: 1px solid rgb(66, 14, 66);
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-actions input {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #555;
  transition: 0.4s;
}

.form-actions input:hover {
  background-color: #7777;
}
