* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/hero-section.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
  padding: 2rem;
}
